@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #111927; 
}

::-webkit-scrollbar-thumb {
  background: #232d3a; 
}

::-webkit-scrollbar-thumb:hover {
  background: #344152; 
}
